@use '../base/variables' as v;


.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar_texto {
    text-align: center;
}

.header{
    background-color: v.$azul;
}

@media (min-width: 768px){
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    color: v.$gris-suave;
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;   
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: v.$blanco;
}

@media (min-width: 768px){
    .navegacion {
        display: flex;
        gap: 6rem;
    }
}

/**-----------------------------**/

.header__navegacion a {
    display: block;
    text-align: center;
    text-decoration: none;
    color : v.$blanco;
    font-size: 2rem;
    font-weight: bold;
    padding: 3rem;
}


.navegacion a:hover {
    color: v.$gris-suave;
}

/** header con imagen estatica **/
/**
.imagen{
    background-image: url(../../imagenes/equipo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 60rem;
    position: relative;
}

.imagen__texto{
    position: absolute;
    background-color:rgba(0, 0, 0, .5) ;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagen__texto h2{
    color: rgb(198, 198, 198);
}
**/

/** header con video bien bonito **/

.video {
    position: relative;

    .video__texto__posicion{
        position: absolute;
        width: 100%;
        height: 100%;
        
        background: rgb(67,162,247);
        background: linear-gradient(90deg, rgba(67,162,247,0.3) 0%, rgba(9,24,121,0.29744397759103647) 50%, rgba(0,255,149,0.303046218487395) 100%);
        
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    video{
        width: 100%;
        display: block;
    }
}

.video__contenido {

    h2 {

        color: v.$blanco;
        font-size: 4rem;
    }
}